.StandardBtn {
  background-color: #a7b3a4;
  color: #222222;
  border: #9daf99;
  transition: background-color 0.3s ease-in-out;
}

.StandardBtn:hover {
  background-color: #707a6e;
}

.VoteDisabled {
  background-color: #c6d6c2 !important;
  color: #808080;
  border: #9daf99;
}

.SubmitBtn {
  background-color: #9bcf8e;
  border: transparent;
  color: #222222;
  width: fit-content;
  transition: background-color 0.3s ease-in-out;
}

.SubmitBtn:hover {
  background-color: #6bb459;
}

.CancelBtn {
  background-color: #d6a0a0;
  border: transparent;
  color: #222222;
  width: fit-content;
  transition: background-color 0.3s ease-in-out;
}

.CancelBtn:hover {
  background-color: #cf7171;
}

.AddAnswer {
  background-color: transparent;
  border: transparent;
  padding: 0;
}

.AddAnswer:hover {
  background-color: #d3d3d3;
}

.FollowBtn {
  background-color: #82d889;
  border: transparent;
  color: #222222;
  transition: background-color 0.3s ease-in-out;
}

.FollowBtn:hover {
  background-color: #3f8344;
  border: transparent;
}

.UnfollowBtn {
  background-color: #caa9a9;
  color: #222222;
  border: transparent;
  transition: background-color 0.3s ease-in-out;
}

.UnfollowBtn:hover {
  background-color: #c07171;
  border: transparent;
}